//@import "config";
//@import "packages/mdl/assets/themes/grey-orange/material-design-lite";
//@import "packages/mdl/assets/styles/material-design-lite";
//@import "packages/mdl/assets/styles/_config/show_config";

$_demo-data-tableex-table-height: (48px * 4); // $data-table-row-height = 48px

.demo-page--data-table2, .demo-section--data-table2 {

    .mdl-div-data-tableex__head {
        border-left: 1px solid rgb(41,98,255);
        border-right: 1px solid rgb(41,98,255);
        border-top: 1px solid rgb(41,98,255);
    }

    .mdl-div-data-tableex__data {
        max-height: $_demo-data-tableex-table-height;
        height: $_demo-data-tableex-table-height;
    }

    .mdl-div-data-tableex__row {

        // Set a default  width for all cells
        > * {
            width            : 80px;
        }
    }
}