template: none
~~~
<section class="demo-section demo-section--samples">
    <h4 class="mdl-color-text--primary-dark">Standalone samples</h4>
    <p>You can find all samples as downloadable TGZ-File on <a href="http://www.material-design-lite.pub/#resources" target="_blank">
        http://www.material-design-lite.pub/#resources
    </a> - Check it out!</p>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        {{#_data.samples}}
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/{{prefix}}{{name}}/index.html"
                        target="_blank" class="mdl-color-text--700">{{name}}</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/{{prefix}}{{name}}"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        {{/_data.samples}}
    </ul></div>

</section>
