template: view
sample: theming
url: http://styleguide.material-design-lite.pub/
theme_version: v2.1.4
#url: http://localhost:8000/
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
<p>
    Either download the theme from <a href="https://github.com/MikeMitterer/dart-mdl-theme" target="_blank">GitHub</a>
    or add it to your index.html with:<br>

</p>
<ul class="mdl-list--no-bullets mdl-list--no-bullets__no-border">
{{#_data.themes}}
    <li>
        <div class="color-sample theme-{{theme}} mdl-shadow--z2">
            <div class="title mdl-color--{{primary}} mdl-color-text--white">Material Design Lite
                <span class="mdl-color-text--black">Theme "<strong>{{theme}}</strong>"</span></div>

            <div class="content">
                <p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                <p>
                    <a class="mdl-color-text--primary" href="https://github.com/MikeMitterer/dart-mdl-theme/tree/master/{{theme}}" target="_blank">Show / Open</a>
                    on GitHub
                </p>

                <div>
                    <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--{{primary}}">Raised</button>
                </div>
                <div>
                    <button class="mdl-button mdl-button--fab mdl-button--colored mdl-color--{{accent}}-A200">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="code-sample" >
            <pre class="prettyprint linenums lang-html">
&lt;head&gt;
    &lt;!-- Material fonts --&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;packages/mdl/assets/fonts/fonts.min.css&quot;&gt;

    &lt;!-- Your {{theme}}-theme! --&gt;
    &lt;link id=&quot;theme&quot; rel=&quot;stylesheet&quot;
        href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/<strong>{{theme_version}}</strong>/<strong>{{theme}}</strong>/material.min.css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
            </pre>
        </div>
    </li>
{{/_data.themes}}
</ul>
