<section class="application-section mdl-properties__container application-section--view1">
    <section class="main">
        <div class="mdl-card mdl-shadow--2dp demo-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--white">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                </a>
            </div>
            <div class="mdl-card__menu">
                <button id="share-demo" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                </button>

                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="share-demo">
                    <button class="mdl-menu__item">Item 1</button>
                    <button class="mdl-menu__item">Item 2</button>
                    <button class="mdl-menu__item" disabled>Item 3</button>
                </ul>
            </div>
        </div>

        <!-- Square card -->
        <style>
            .demo-card-square.mdl-card {
                width: 320px;
                height: 320px;
            }
            .demo-card-square > .mdl-card__title {
                color: #fff;
                background:
                        url('assets/images/dog.png') bottom right 15% no-repeat #46B6AC;
            }
        </style>

        <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Update</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Updates
                </a>
            </div>
        </div>

        <div class="mdl-card mdl-shadow--2dp demo-card-square">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Update</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Updates
                </a>
            </div>
        </div>
    </section>
    <aside class="mdl-properties mdl-properties--sticky- mdl-color--300">
        <form method="post" class="mdl-form demo-slider">
            <div class="mdl-form__content">
                <div class="mdl-form__group">
                    <i class="material-icons mdl-icon mdl-color-text--white">volume_up</i>
                    <div class="mdl-slider__container__container">
                        <span class="mdl-slider__label mdl-color-text--grey-50">Media volume</span>
                        <input class="mdl-slider mdl-js-slider" type="range"
                               min="0" max="100" value="30" tabindex="0"/>
                    </div>
                </div>
                <div class="mdl-form__group">
                    <i class="material-icons mdl-icon mdl-color-text--white">alarm</i>
                    <div class="mdl-slider__container__container">
                        <span class="mdl-slider__label mdl-color-text--grey-50">Alarm volume</span>
                        <input class="mdl-slider mdl-js-slider" type="range"
                               min="0" max="100" value="0" tabindex="0"/>
                    </div>
                </div>

                <div class="mdl-form__group">
                    <i class="material-icons mdl-icon mdl-color-text--white">ring_volume</i>
                    <div class="mdl-slider__container__container">
                        <span class="mdl-slider__label mdl-color-text--grey-50">Ring volume</span>
                        <input class="mdl-slider mdl-js-slider" type="range"
                               min="0" max="100" value="0" tabindex="0"/>
                    </div>
                </div>

            </div>
        </form>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" mdl-model="keepProperties">
            <span class="mdl-checkbox__label mdl-color-text--500">Keep properties</span>
        </label>
    </aside>
</section>
