@import "config";

//@import "packages/mdl/assets/themes/deep_purple-orange/material-design-lite";
//@import "packages/mdl/assets/styles/material-design-lite";

//@import "packages/mdl/assets/styles/_config/show_config";

// Only needed to switch themes correctly!!!!!
// @import "packages/mdl/assets/styles/fonts/fonts";
// for layout
// @import "packages/mdl/assets/styles/icons/icons";
//@import "packages/mdl/assets/styles/animation/mixins";
//@import "packages/mdl/assets/styles/variables/variables";
//@import "packages/mdl/assets/styles/layout/layout";

@import "package:mdl/assets/styles/media-queries/mixins";
@import "package:mdl/assets/styles/scrollbars/mixins";

// Style for samples
@import "assets/styles/demo";

@import "assets/styles/layout";

html, body {
    height     : 100%;
    box-sizing : border-box;
}

body {
    margin          : 0;
    padding         : 0;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : flex-start; // ⇾
    align-content   : space-between; // ||
    align-items     : stretch; // ↓

    a {
        text-decoration : none;

        &:hover {
            text-decoration : underline;
        }
    }

    ol.linenums {
        margin-left : 0;
    }

}

.styleguide div, main, pre.prettyprint {
    @include hide_scrollbar();
}

html, body, body > div,
    .mdl-splashscreen, .styleguide.mdl-layout,
    .styleguide > div.mdl-layout__drawer {
    @include hide_scrollbar($show_on_hover: false);
}


.usage {

    &.mdl-accordion-group {

        .mdl-accordion {
            margin-bottom : 12px;

            .mdl-icon--remove-red-eye {
                padding : 0 12px;
            }

            .mdl-accordion__label {
                border        : none;
                border-radius : 5px;
            }

        }

        .linkinfo {
            margin : 8px;
        }
    }

    .linkinfo {
        margin : 8px;

        .csslink {
            padding    : 4px;
            text-align : center;
        }
    }
}

.demo-section {
    margin-top : 24px;

    //h1, h2, h3, h4, h5 {
    //    margin-top    : 24px;
    //    margin-bottom : 12px;
    //}

    h1, h2, h3, h4, h5 {
        font-size   : 24px;
        line-height : 1.3;
    }
}
