<section class="demo-section demo-section--mdl-flux">

    <h3 class="mdl-color-text--600" id="introduction">MDL Flux</h3>
    <p>
        MDL-Flux uses Facebooks "Flux"-Pattern for communication. The
            <a class="mdl-navigation__link mdl-color-text--primary"
               href="http://samples.material-design-lite.pub/spa_todo/index.html"
               target="_blank">ToDo-Sample</a> uses this pattern for component-communication.<br><br>
        <img src="../assets/images/mdlFlux.png">
    </p>


</section>