<section class="demo-section demo-section--progress demo-page--progress">
    <div id="usage" class="mdl-include" data-url="views/usage/progress.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div class="bars">
            <div class="horizontal">
                <div>
                    Default:
                    <div id="p1" class="mdl-progress"></div>
                </div>
                <div>
                    Indeterminate:
                    <div id="p2" class="mdl-progress mdl-progress__indeterminate"></div>
                </div>
                <div>
                    Buffering:
                    <div id="p3" class="mdl-progress"></div>
                </div>
            </div>
            <div class="vertical">
                <div>
                    Default
                    <div id="p1v" class="mdl-vprogress"></div>
                </div>
                <div>
                    Indeterminate
                    <div id="p2v" class="mdl-vprogress mdl-vprogress__indeterminate"></div>
                </div>
                <div>
                    Buffering
                    <div id="p3v" class="mdl-vprogress"></div>
                </div>
            </div>
        </div>
        <h5 class="mdl-color-text--primary-dark">Data binding</h5>
        <div>Drag me and check how the bar reacts...</div>
        <p>
            <input class="mdl-slider" type="range" min="0" max="100" value="44" tabindex="0" step="1"
                   id="slider"/>
        </p>
    </div>
</section>