<section class="demo-section demo-section--repeat demo-page--repeat">
    <div id="usage" class="mdl-include" data-url="views/usage/repeat.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <h5 class="mdl-color-text--primary-dark">Displays 'Names-List' via public MaterialRepeat functions</h5>
        <div mdl-repeat id="main">

            <template>
                <div>
                    <label class="mdl-checkbox mdl-ripple-effect" for="check-{{nfrs.id}}">
                        <input type="checkbox" id="check-{{nfrs.id}}" class="mdl-checkbox__input"
                               data-mdl-click="nfrs.clicked('{{nfrs.name}}')" />
                        <span class="mdl-checkbox__label">Repeat me: <strong>{{nfrs.name}}</strong> (ID: {{nfrs.id}})</span>
                    </label>
                    <button class="mdl-button mdl-button--colored mdl-ripple-effect"
                            data-mdl-click="nfrs.remove()">Remove</button>
                </div>
            </template>
             
        </div>
    </div>
</section>