<section class="demo-section demo-section--repeat_callback demo-page--repeat_callback">
    <div id="usage" class="mdl-include" data-url="views/usage/repeat_callback.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div class="left">
            <h5>With Render-Callback</h5>
            <with-callback></with-callback>
        </div>
        <div class="right">
            <h5>DOM remove/insert</h5>
            <without-callback></without-callback>
        </div>
    </div>
</section>