<section class="demo-section demo-section--samples">
    <h4>Standalone samples</h4>
    <p>You can find all samples as downloadable TGZ-File on <a href="http://www.material-design-lite.pub/#resources" target="_blank">
        http://www.material-design-lite.pub/#resources
    </a> - Check it out!</p>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_accordion/index.html" target="_blank" class="mdl-color-text--700">
                accordion</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_accordion/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_animation/index.html" target="_blank" class="mdl-color-text--700">
                animation</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_animation/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_attribute/index.html" target="_blank" class="mdl-color-text--700">
                attribute</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_attribute/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_badge/index.html" target="_blank" class="mdl-color-text--700">
                badge</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_badge/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_button/index.html" target="_blank" class="mdl-color-text--700">
                button</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_button/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_card/index.html" target="_blank" class="mdl-color-text--700">
                card</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_card/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_checkbox/index.html" target="_blank" class="mdl-color-text--700">
                checkbox</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_checkbox/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_class/index.html" target="_blank" class="mdl-color-text--700">
                class</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_class/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/spa_content/index.html" target="_blank" class="mdl-color-text--700">
                content</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_content/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_data-table/index.html" target="_blank" class="mdl-color-text--700">
                data-table</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_data-table/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_data-table2/index.html" target="_blank" class="mdl-color-text--700">
                data-table2</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_data-table2/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_dialog/index.html" target="_blank" class="mdl-color-text--700">
                dialog</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_dialog/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_dnd/index.html" target="_blank" class="mdl-color-text--700">
                dnd</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_dnd/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_footer/index.html" target="_blank" class="mdl-color-text--700">
                footer</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_footer/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_formatter/index.html" target="_blank" class="mdl-color-text--700">
                formatter</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_formatter/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_forms/index.html" target="_blank" class="mdl-color-text--700">
                forms</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_forms/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_grid/index.html" target="_blank" class="mdl-color-text--700">
                grid</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_grid/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_icon-toggle/index.html" target="_blank" class="mdl-color-text--700">
                icon-toggle</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_icon-toggle/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlo_icons/index.html" target="_blank" class="mdl-color-text--700">
                icons</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlo_icons/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/spa_include/index.html" target="_blank" class="mdl-color-text--700">
                include</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_include/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/spa_inplace/index.html" target="_blank" class="mdl-color-text--700">
                inplace</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_inplace/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_layout/index.html" target="_blank" class="mdl-color-text--700">
                layout</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_layout/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_list/index.html" target="_blank" class="mdl-color-text--700">
                list</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_list/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_menu/index.html" target="_blank" class="mdl-color-text--700">
                menu</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_menu/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_model/index.html" target="_blank" class="mdl-color-text--700">
                model</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_model/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_nav-pills/index.html" target="_blank" class="mdl-color-text--700">
                nav-pills</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_nav-pills/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_notification/index.html" target="_blank" class="mdl-color-text--700">
                notification</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_notification/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_observe/index.html" target="_blank" class="mdl-color-text--700">
                observe</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_observe/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_palette/index.html" target="_blank" class="mdl-color-text--700">
                palette</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_palette/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_panel/index.html" target="_blank" class="mdl-color-text--700">
                panel</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_panel/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_progress/index.html" target="_blank" class="mdl-color-text--700">
                progress</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_progress/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_radio/index.html" target="_blank" class="mdl-color-text--700">
                radio</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_radio/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_repeat/index.html" target="_blank" class="mdl-color-text--700">
                repeat</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_repeat/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdld_repeat_data-table/index.html" target="_blank" class="mdl-color-text--700">
                repeat_data-table</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_repeat_data-table/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_shadow/index.html" target="_blank" class="mdl-color-text--700">
                shadow</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_shadow/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_slider/index.html" target="_blank" class="mdl-color-text--700">
                slider</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_slider/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdlx_snackbar/index.html" target="_blank" class="mdl-color-text--700">
                snackbar</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_snackbar/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_spinner/index.html" target="_blank" class="mdl-color-text--700">
                spinner</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_spinner/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/styleguide/index.html" target="_blank" class="mdl-color-text--700">
                styleguide</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/styleguide/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_switch/index.html" target="_blank" class="mdl-color-text--700">
                switch</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_switch/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_tabs/index.html" target="_blank" class="mdl-color-text--700">
                tabs</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_tabs/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_textfield/index.html" target="_blank" class="mdl-color-text--700">
                textfield</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_textfield/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_tooltip/index.html" target="_blank" class="mdl-color-text--700">
                tooltip</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_tooltip/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/spa_todo/index.html" target="_blank" class="mdl-color-text--700">
                todo</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_todo/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="mdl-icon material-icons mdl-color-text--200" style="padding-top: 32px">extension</i>

                <a href="http://samples.material-design-lite.pub/mdl_typography/index.html" target="_blank" class="mdl-color-text--700">
                typography</a> |
                <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_typography/web"
                    class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>

    </ul></div>

</section>