<section class="demo-section demo-section--samples">
    <h4 class="mdl-color-text--primary-dark">Standalone samples</h4>
    <p>You can find all samples as downloadable TGZ-File on <a href="http://www.material-design-lite.pub/#resources" target="_blank">
        http://www.material-design-lite.pub/#resources
    </a> - Check it out!</p>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_accordion/index.html"
                        target="_blank" class="mdl-color-text--700">accordion</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_accordion"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_animation/index.html"
                        target="_blank" class="mdl-color-text--700">animation</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_animation"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_attribute/index.html"
                        target="_blank" class="mdl-color-text--700">attribute</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_attribute"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_badge/index.html"
                        target="_blank" class="mdl-color-text--700">badge</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_badge"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_button/index.html"
                        target="_blank" class="mdl-color-text--700">button</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_button"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_card/index.html"
                        target="_blank" class="mdl-color-text--700">card</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_card"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_chartjs/index.html"
                        target="_blank" class="mdl-color-text--700">chartjs</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_chartjs"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_checkbox/index.html"
                        target="_blank" class="mdl-color-text--700">checkbox</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_checkbox"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_class/index.html"
                        target="_blank" class="mdl-color-text--700">class</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_class"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_content/index.html"
                        target="_blank" class="mdl-color-text--700">content</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_content"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_data-table/index.html"
                        target="_blank" class="mdl-color-text--700">data-table</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_data-table"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_data-table2/index.html"
                        target="_blank" class="mdl-color-text--700">data-table2</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_data-table2"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_dialog/index.html"
                        target="_blank" class="mdl-color-text--700">dialog</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_dialog"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_dnd/index.html"
                        target="_blank" class="mdl-color-text--700">dnd</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_dnd"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_footer/index.html"
                        target="_blank" class="mdl-color-text--700">footer</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_footer"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_formatter/index.html"
                        target="_blank" class="mdl-color-text--700">formatter</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_formatter"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_forms/index.html"
                        target="_blank" class="mdl-color-text--700">forms</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_forms"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_grid/index.html"
                        target="_blank" class="mdl-color-text--700">grid</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_grid"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_icon-toggle/index.html"
                        target="_blank" class="mdl-color-text--700">icon-toggle</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_icon-toggle"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlo_icons/index.html"
                        target="_blank" class="mdl-color-text--700">icons</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlo_icons"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_include/index.html"
                        target="_blank" class="mdl-color-text--700">include</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_include"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_inplace/index.html"
                        target="_blank" class="mdl-color-text--700">inplace</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_inplace"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_layout/index.html"
                        target="_blank" class="mdl-color-text--700">layout</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_layout"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_list/index.html"
                        target="_blank" class="mdl-color-text--700">list</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_list"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_menu/index.html"
                        target="_blank" class="mdl-color-text--700">menu</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_menu"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_model/index.html"
                        target="_blank" class="mdl-color-text--700">model</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_model"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_nav-pills/index.html"
                        target="_blank" class="mdl-color-text--700">nav-pills</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_nav-pills"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_notification/index.html"
                        target="_blank" class="mdl-color-text--700">notification</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_notification"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_observe/index.html"
                        target="_blank" class="mdl-color-text--700">observe</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_observe"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_palette/index.html"
                        target="_blank" class="mdl-color-text--700">palette</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_palette"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_panel/index.html"
                        target="_blank" class="mdl-color-text--700">panel</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_panel"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_plotly/index.html"
                        target="_blank" class="mdl-color-text--700">plotly</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_plotly"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_progress/index.html"
                        target="_blank" class="mdl-color-text--700">progress</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_progress"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_radio/index.html"
                        target="_blank" class="mdl-color-text--700">radio</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_radio"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_repeat/index.html"
                        target="_blank" class="mdl-color-text--700">repeat</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_repeat"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_repeat_callback/index.html"
                        target="_blank" class="mdl-color-text--700">repeat_callback</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_repeat_callback"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdld_repeat_data-table/index.html"
                        target="_blank" class="mdl-color-text--700">repeat_data-table</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdld_repeat_data-table"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_shadow/index.html"
                        target="_blank" class="mdl-color-text--700">shadow</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_shadow"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_slider/index.html"
                        target="_blank" class="mdl-color-text--700">slider</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_slider"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdlx_snackbar/index.html"
                        target="_blank" class="mdl-color-text--700">snackbar</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdlx_snackbar"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_spinner/index.html"
                        target="_blank" class="mdl-color-text--700">spinner</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_spinner"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/styleguide/index.html"
                        target="_blank" class="mdl-color-text--700">styleguide</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/styleguide"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_switch/index.html"
                        target="_blank" class="mdl-color-text--700">switch</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_switch"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_tabs/index.html"
                        target="_blank" class="mdl-color-text--700">tabs</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_tabs"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_textfield/index.html"
                        target="_blank" class="mdl-color-text--700">textfield</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_textfield"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_tooltip/index.html"
                        target="_blank" class="mdl-color-text--700">tooltip</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_tooltip"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/spa_todo/index.html"
                        target="_blank" class="mdl-color-text--700">todo</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/spa_todo"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar mdl-color-text--200 mdl-color--white">extension</i>
              <span>
                  <a href="http://samples.material-design-lite.pub/mdl_typography/index.html"
                        target="_blank" class="mdl-color-text--700">typography</a>

                  <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                      <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/mdl_typography"
                         class="mdl-color-text--400 github" target="_blank">
                          Source on GitHub
                      </a>
                  </div>
              </span>
            </span>
        </li>

    </ul></div>

</section>