<section class="demo-section demo-section--templates">
    <h4>Layout-Templates</h4>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_blog/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-blog.jpg">
                    </div>
                    <h5>Blog</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_blog"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_spa/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-spa.jpg">
                    </div>
                    <h5>Single-Page-Application</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_spa"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_android-dot-com/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-android-dot-com.jpg">
                    </div>
                    <h5>Android WebSite</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_android-dot-com"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_dashboard/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-dashboard.jpg">
                    </div>
                    <h5>Admin template</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_dashboard"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_text-only/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-text-heavy.jpg">
                    </div>
                    <h5>Text-Heavy Webpage</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_text-only"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_article/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-article.jpg">
                    </div>
                    <h5>Stand-Alone Article</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_article"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_fixed-header/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-fixed-header.jpg">
                    </div>
                    <h5>Small apps</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_fixed-header"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
        <li class="mdl-list--inline">
            <div>
                <a href="http://samples.material-design-lite.pub/template_sticky-footer/index.html" target="_blank"
                   class="mdl-color-text--700">
                    <div class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-sticky-footer.jpg">
                    </div>
                    <h5>Sticky footer</h5>
                </a>
                <div style="font-size: 14px; font-weight: 200; margin-top: 4px;">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_sticky-footer"
                       class="mdl-color-text--400 github" target="_blank">
                        Source on GitHub
                    </a>
                </div>


            </div>
        </li>
    </ul></div>
</section>