<section class="demo-section demo-section--templates">
    <h4>Layout-Templates</h4>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_blog/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-blog.jpg">
                    </span>
                    <h5>Blog</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_blog"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_spa/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-spa.jpg">
                    </span>
                    <h5>Single-Page-Application</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_spa"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_android-dot-com/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-android-dot-com.jpg">
                    </span>
                    <h5>Android WebSite</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_android-dot-com"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_dashboard/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-dashboard.jpg">
                    </span>
                    <h5>Admin template</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_dashboard"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_text-only/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-text-heavy.jpg">
                    </span>
                    <h5>Text-Heavy Webpage</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_text-only"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_article/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-article.jpg">
                    </span>
                    <h5>Stand-Alone Article</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_article"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_fixed-header/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-fixed-header.jpg">
                    </span>
                    <h5>Small apps</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_fixed-header"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <a href="http://samples.material-design-lite.pub/template_sticky-footer/index.html" target="_blank" class="mdl-color-text--700">
                    <span class="mdl-list__item__preview mdl-color--700">
                        <img src="assets/images/template-sticky-footer.jpg">
                    </span>
                    <h5>Sticky footer</h5>
                </a>
                <a href="https://github.com/MikeMitterer/dart-material-design-lite/tree/master/samples/template_sticky-footer"
                   class="mdl-color-text--400 github" target="_blank">
                    Source on GitHub
                </a>
            </span>
        </li>
    </ul></div>
</section>