<section class="demo-section demo-section--templates">
    <h4 class="mdl-color-text--primary-dark">Layout-Templates</h4>
    <div class="mdl-list--styled-view"><ul class="mdl-list">
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Blog</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_blog/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-blog.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_blog" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Single-Page-Application</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_spa/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-spa.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_spa" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Android WebSite</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_android-dot-com/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-android-dot-com.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_android-dot-com" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Admin template</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_dashboard/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-dashboard.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_dashboard" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Text-Heavy Webpage</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_text-only/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-text-heavy.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_text-only" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Stand-Alone Article</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_article/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-article.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_article" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Small apps</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_fixed-header/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-fixed-header.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_fixed-header" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="mdl-list--inline">

            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand mdl-color--primary-dark">
                    <h4 class="mdl-card__title-text  mdl-color-text--white">Sticky footer</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <a href="http://samples.material-design-lite.pub/template_sticky-footer/index.html" target="_blank"
                       class="mdl-color-text--700">
                        <div class="mdl-list__item__preview">
                            <img src="assets/images/template-sticky-footer.jpg">
                        </div>

                    </a>                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="https://github.com/MikeMitterer/dart-material-design-lite-site/tree/master/samples/template_sticky-footer" target="_blank"
                       class="mdl-button mdl-button--colored mdl-ripple-effect">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </li>
    </ul></div>
</section>