<section class="demo-section demo-section--tooltip demo-page--tooltip">
    <div id="usage" class="mdl-include" data-url="views/usage/tooltip.html">
        Loading...
    </div>
    <div class="demo-preview-block">
        <div id="tt1" class="icon material-icons mdl-color-text--accent">add</div>
        <div class="mdl-tooltip" data-mdl-for="tt1">
            Follow
        </div>
        <div id="tt2" class="icon material-icons mdl-color-text--accent">print</div>
        <div class="mdl-tooltip mdl-tooltip--large" data-mdl-for="tt2">
            Print
        </div>
        <div id="tt3" class="icon material-icons mdl-color-text--accent">cloud_upload</div>
        <div class="mdl-tooltip" data-mdl-for="tt3">
            Upload <strong>file.zip</strong>
        </div>
        <div id="tt4" class="icon material-icons mdl-color-text--accent">share</div>
        <div class="mdl-tooltip" data-mdl-for="tt4">
            Share your content<br>via social media
        </div>
    </div>
</section>