<div class="mdl-accordion-group mdl-ripple-effect usage usage-dialog">

    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">

            <div class="mdl-tabs mdl-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <!--<a href="#css" class="mdl-tabs__tab">README</a>-->
                </div>

                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;


main() async &#123;
    final Logger _logger = new Logger(&#39;dialog.main&#39;);
    &#47;&#47; Determine your locale automatically:
    final String locale = await findSystemLocale();
    translate.locale = Intl.shortLocale(locale);

    Intl.defaultLocale = locale;
    initializeDateFormatting(locale);

    registerMdl();

    _logger.info(&quot;Locale: $locale &#47; (Short) $&#123;Intl.shortLocale(locale)&#125;&quot;);

    await componentFactory()
        .rootContext(Application)
        .addModule(new SampleModule())
        .run();
&#125;</pre>
                </div>

                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <!--<div class="linkinfo">-->
                    <!--To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>-->
                    <!--<div class="csslink mdl-color-text&#45;&#45;accent-500">-->
                    <!--&lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>-->
                    <!--</div>-->
                    <!--More about <a href="/#/theming">theming...</a>-->
                <!--</div>-->
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-button&quot;&gt;
        &lt;button id=&quot;alertdialog&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;Alert
            dialog
        &lt;&#47;button&gt;
        &lt;button id=&quot;confirmdialog&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;Confirm
            dialog
        &lt;&#47;button&gt;
        &lt;button id=&quot;customdialog1&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;Custom
            dialog I
        &lt;&#47;button&gt;
        &lt;button id=&quot;customdialog2&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;Custom
            dialog II
        &lt;&#47;button&gt;
    &lt;&#47;div&gt;
    &lt;div class=&quot;demo-button&quot;&gt;
        &lt;button id=&quot;date-picker&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;
            Date picker
        &lt;&#47;button&gt;
        &lt;button id=&quot;time-picker&quot;
                class=&quot;mdl-button mdl-button--raised mdl-button--colored mdl-ripple-effect&quot;&gt;
            Time picker
        &lt;&#47;button&gt;
    &lt;&#47;div&gt;
    &lt;form class=&quot;input-fields mdl-form mdl-color--50&quot;&gt;
        &lt;div class=&quot;mdl-form__content&quot;&gt;
        &lt;div class=&quot;mdl-form__group&quot;&gt;
            &lt;div class=&quot;mdl-labelfield&quot;&gt;
                &lt;label class=&quot;mdl-labelfield__label&quot;&gt;Schedule:&lt;&#47;label&gt;
            &lt;&#47;div&gt;
            &lt;div class=&quot;mdl-textfield&quot;&gt;
                &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;date_input&quot;
                       pattern=&quot;(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}&quot;&gt;
                &lt;label class=&quot;mdl-textfield__label mdl-textfield__label--icon-right&quot;
                       for=&quot;date_input&quot;&gt;
                    DD.MM.YYYY
                    &lt;i class=&quot;material-icons&quot;&gt;event&lt;&#47;i&gt;
                &lt;&#47;label&gt;
            &lt;&#47;div&gt;
            &lt;div class=&quot;mdl-textfield&quot;&gt;
                &lt;input class=&quot;mdl-textfield__input&quot; type=&quot;text&quot; id=&quot;time_input&quot;
                       pattern=&quot;([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}&quot;&gt;
                &lt;label class=&quot;mdl-textfield__label mdl-textfield__label--icon-right&quot;
                       for=&quot;time_input&quot;&gt;
                    HH:MM
                    &lt;i class=&quot;material-icons&quot;&gt;schedule&lt;&#47;i&gt;
                &lt;&#47;label&gt;
            &lt;&#47;div&gt;
            &lt;button id=&quot;clear&quot; class=&quot;mdl-button mdl-button--icon&quot;&gt;
                &lt;i class=&quot;material-icons mdl-icon mdl-color-text--grey-600&quot;&gt;highlight_off&lt;&#47;i&gt;
            &lt;&#47;button&gt;
        &lt;&#47;div&gt;
        &lt;&#47;div&gt;
    &lt;&#47;form&gt;
&lt;&#47;div&gt;
</pre>
                </div>

                <!-- CSS-Tab -->
                <!--<div class="mdl-tabs__panel" id="css">-->
<!--<h4>dialog</h4>
<p>...will be here soon</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>