<div class="mdl-accordion-group mdl-ripple-effect usage usage-observe">

    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">

            <div class="mdl-tabs mdl-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <!--<a href="#css" class="mdl-tabs__tab">README</a>-->
                </div>

                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;


main() &#123;
    &#47;&#47; final Logger _logger = new Logger(&#39;main.MaterialRepeat&#39;);

    registerMdl();

    componentFactory().rootContext(Application).run(enableVisualDebugging: true)
        .then((final MaterialApplication application) &#123;
            application.run();
    &#125;);

&#125;</pre>
                </div>

                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <!--<div class="linkinfo">-->
                    <!--To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>-->
                    <!--<div class="csslink mdl-color-text&#45;&#45;accent-500">-->
                    <!--&lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>-->
                    <!--</div>-->
                    <!--More about <a href="/#/theming">theming...</a>-->
                <!--</div>-->
                <pre class="prettyprint linenums lang-html">
&lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;p&gt;
        &lt;h5 class=&quot;mdl-color-text--primary-dark&quot;&gt;Customized &#39;ObservableProperty&#39;&lt;&#47;h5&gt;
        Now it&#39;s: &lt;span mdl-observe=&quot;time&quot;&gt;&lt;&#47;span&gt;&lt;br&gt;
    &lt;&#47;p&gt;
    &lt;div class=&quot;object-test&quot;&gt;
        &lt;h5 class=&quot;mdl-color-text--primary-dark&quot;&gt;Observes Object (_Name) with &#39;null&#39; check&lt;&#47;h5&gt;
        &lt;div mdl-observe=&quot;isNameNull | choose(value, &#39;(Name-Object is null!)&#39;,&#39;&#39;)&quot;&gt;&lt;&#47;div&gt;
        &lt;div mdl-observe=&quot;nameObject&quot; class=&quot;name mdl-color--100&quot;&gt;
             
            &lt;template&gt;
                &lt;div&gt;
                    Firstname: {{first}},&lt;br&gt;
                    Last name: {{last}}&lt;br&gt;
                    &lt;div&gt;Text in &lt;strong&gt;DIV&lt;&#47;strong&gt;&lt;&#47;div&gt;
                &lt;&#47;div&gt;
            &lt;&#47;template&gt;
             
        &lt;&#47;div&gt;
    &lt;&#47;div&gt;
    &lt;p&gt;
        &lt;h5 class=&quot;mdl-color-text--primary-dark&quot;&gt;Observable-List&lt;&#47;h5&gt;
        Wait 2 secs - A timer will add 10 more List-Items!&lt;br&gt;
        If you &quot;REMOVE&quot; &quot;German&quot; - it will be replace with &quot;Austrian&quot;&lt;br&gt;&lt;br&gt;
        Nr. of records: &lt;strong&gt;&lt;span mdl-observe=&quot;records&quot;&gt;&lt;&#47;span&gt;&lt;&#47;strong&gt;&lt;br&gt;
        &lt;div mdl-repeat=&quot;language in languages&quot;&gt;
             
            &lt;template&gt;
                &lt;div class=&quot;language&quot; &gt;
                    Language: {{language.name}} ({{language.type}})
                    &lt;button class=&quot;mdl-button mdl-button--colored mdl-ripple-effect&quot;
                            data-mdl-click=&quot;remove({{language.name}})&quot;&gt;Remove&lt;&#47;button&gt;
                &lt;&#47;div&gt;
            &lt;&#47;template&gt;
             
        &lt;&#47;div&gt;
    &lt;&#47;p&gt;
&lt;&#47;div&gt;
</pre>
                </div>

                <!-- CSS-Tab -->
                <!--<div class="mdl-tabs__panel" id="css">-->
<!--<h4>observe</h4>
<p>...will be here soon</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>