<div class="mdl-accordion-group mdl-ripple-effect usage usage-shadow">

    <!-- Panel 1 -->
    <div class="mdl-accordion">
        <label class="mdl-accordion__label mdl-color--200">
            <i class="material-icons mdl-icon--remove-red-eye mdl-color-text--primary">remove_red_eye</i>
            Basic Usage
            <i class="material-icons indicator right mdl-color-text--primary">chevron_right</i>
        </label>
        <div class="mdl-accordion--content">

            <div class="mdl-tabs mdl-ripple-effect">
                <!-- TabBar -->
                <div class="mdl-tabs__tab-bar">
                    <a href="#dart" class="mdl-tabs__tab is-active">Dart</a>
                    <a href="#html" class="mdl-tabs__tab">HTML</a>
                    <!--<a href="#css" class="mdl-tabs__tab">README</a>-->
                </div>

                <!-- Dart-Tab -->
                <div class="mdl-tabs__panel is-active" id="dart">
                <pre class="prettyprint linenums lang-dart">
import &#39;package:mdl&#47;mdl.dart&#39;;


main() async &#123;
    registerMdl();

    await componentFactory().run();
&#125;</pre>
                </div>

                <!-- HTML-Tab -->
                <div class="mdl-tabs__panel" id="html">
                <!--<div class="linkinfo">-->
                    <!--To use any MDL component, you must include the minified CSS file in the &lt;head&gt; section of the page:<br>-->
                    <!--<div class="csslink mdl-color-text&#45;&#45;accent-500">-->
                    <!--&lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.rawgit.com/MikeMitterer/dart-mdl-theme/master/blue_grey-pink/material.min.css&quot;&gt;<br>-->
                    <!--</div>-->
                    <!--More about <a href="/#/theming">theming...</a>-->
                <!--</div>-->
                <pre class="prettyprint linenums lang-html">
  &lt;div class=&quot;demo-preview-block&quot;&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--2dp&quot;&gt;2dp&lt;&#47;div&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--3dp&quot;&gt;3dp&lt;&#47;div&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--4dp&quot;&gt;4dp&lt;&#47;div&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--6dp&quot;&gt;6dp&lt;&#47;div&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--8dp&quot;&gt;8dp&lt;&#47;div&gt;
    &lt;div class=&quot;demo-shadow-card mdl-shadow--16dp&quot;&gt;16dp&lt;&#47;div&gt;
  &lt;&#47;div&gt;
</pre>
                </div>

                <!-- CSS-Tab -->
                <!--<div class="mdl-tabs__panel" id="css">-->
<!--<h2>Introduction</h2>
<p>The Material Design Lite (MDL) <strong>shadow</strong> is not a component in the same sense as an MDL card, menu, or textbox; it is a visual effect that can be assigned to a user interface element. The effect simulates a three-dimensional positioning of the element, as though it is slightly raised above the surface it rests upon — a positive <em>z-axis</em> value, in user interface terms. The shadow starts at the edges of the element and gradually fades outward, providing a realistic 3-D effect.</p>
<p>Shadows are a convenient and intuitive means of distinguishing an element from its surroundings. A shadow can draw the user's eye to an object and emphasize the object's importance, uniqueness, or immediacy.</p>
<p>Shadows are a well-established feature in user interfaces, and provide users with a visual clue to an object's intended use or value. Their design and use is an important factor in the overall user experience.</p>
<h2>Basic use</h2>
<p>To use any MDL component, you must include the minified CSS and JavaScript files using standard relative-path references in the <code>&lt;head&gt;</code> section of the page, as described in the MDL Introduction.</p>
<h3>To include an MDL <strong>shadow</strong> effect:</h3>
<p> 1. Code an element, such as a <code>&lt;div&gt;</code>, that is to receive the shadow effect; size and style it as desired, and add any required content.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb1-1" data-line-number="1"><span class="kw">&lt;div&gt;</span></a>
<a class="sourceLine" id="cb1-2" data-line-number="2">Some content</a>
<a class="sourceLine" id="cb1-3" data-line-number="3"><span class="kw">&lt;/div&gt;</span></a></code></pre></div>
<p> 2. Add an MDL shadow class to the element using the <code>class</code> attribute.</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb2-1" data-line-number="1"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;mdl-shadow--4dp&quot;</span><span class="kw">&gt;</span></a>
<a class="sourceLine" id="cb2-2" data-line-number="2">Some content</a>
<a class="sourceLine" id="cb2-3" data-line-number="3"><span class="kw">&lt;/div&gt;</span></a></code></pre></div>
<p>The shadowed component is ready for use.</p>
<h4>Examples</h4>
<p>A div with a user-specified class and a small shadow.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb3-1" data-line-number="1"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;my-shadow-card mdl-shadow--2dp&quot;</span><span class="kw">&gt;</span>Small shadow<span class="kw">&lt;/div&gt;</span></a></code></pre></div>
<p>A div with a user-specified class and a medium-large shadow.</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode html"><code class="sourceCode html"><a class="sourceLine" id="cb4-1" data-line-number="1"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;my-shadow-card mdl-shadow--6dp&quot;</span><span class="kw">&gt;</span>Medium-large shadow<span class="kw">&lt;/div&gt;</span></a></code></pre></div>
<h2>Configuration options</h2>
<p>The MDL CSS classes apply various predefined visual shadows to the element. The table below lists the available classes and their effects.</p>
<table>
<colgroup>
<col style="width: 39%" />
<col style="width: 28%" />
<col style="width: 32%" />
</colgroup>
<thead>
<tr class="header">
<th>MDL class</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>mdl-shadow--2dp</code></td>
<td>Assigns a small shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
<tr class="even">
<td><code>mdl-shadow--3dp</code></td>
<td>Assigns a medium-small shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
<tr class="odd">
<td><code>mdl-shadow--4dp</code></td>
<td>Assigns a medium shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
<tr class="even">
<td><code>mdl-shadow--6dp</code></td>
<td>Assigns a medium-large shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
<tr class="odd">
<td><code>mdl-shadow--8dp</code></td>
<td>Assigns a large shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
<tr class="even">
<td><code>mdl-shadow--16dp</code></td>
<td>Assigns an extra-large shadow to the object</td>
<td>Optional; if omitted, no shadow is present</td>
</tr>
</tbody>
</table>
-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>