.demo-page--forms {
    //background-color : linen;

    .firstblock {
        clear : both;
        min-height: 320px;
        margin-bottom: 12px;

        p:first-of-type {
            // background-color: green;
        }

        .mdl-form {
            margin-left: 12px;
        }
    }

    form {
        max-width     : 512px;
        margin-bottom : 24px;

        background-color: rgba(63, 81, 181, 0.09);

        .three-cols {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start; // ⇾
            align-content: space-between; // ||
            align-items: flex-start; // ↓

            .col {
                &:first-child {
                    width: 120px;
                }
                max-width: 150px;
            }

        }
    }

    .demo-registration {
        float     : right;
        clear     : both;
        max-width : 320px;
    }
}








