.demo-page--repeat_data-table {

    .mdl-div-data-tableex__row {

        // Set a default  width for all cells
        > * {
            width            : 80px;
        }
    }

    .buttons {
        padding-top: 12px;
    }

    .headline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓
    }
}
