.demo-section--samples {
    a {
        text-decoration: none;
    }

    .mdl-list-view--avatar {
        font-size: 35px;
    }


    .mdl-icon {
        margin-left : 8px;
        /* padding-top: 15px; */
        margin-top  : 3px;
        /* top: 5px; */
        /* bottom: 12px; */
        line-height : 45px;
        color       : white;

        font-size: 34px;
        /* text-align: center; */
    }

    .mdl-list-view--name {
        text-transform: uppercase;
    }

    .mdl-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; // ⇾
        align-content: stretch; // ||
        align-items: flex-start; // ↓

        .mdl-list__item {
            width: 250px;
        }
    }
}