@import "packages/mdl/assets/styles/material-design-lite";

.demo-page--forms {
    //background-color : linen;

    .firstblock {
        clear : both;
        height: 400px;

        p:first-of-type {
            // background-color: green;
        }

        .mdl-form {
            margin-left: 12px;
        }
    }

    form {
        max-width     : 512px;
        margin-bottom : 24px;
    }

    .demo-registration {
        float     : right;
        clear     : both;
        max-width : 320px;
    }
}
